.container {
  color: #000;
  position: relative;
}

.releaseDate {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 10px 0;
}

.textbox h3 {
  font-size: 1.5rem;
}

.genres {
  text-transform: capitalize;
}